{% extends 'polls/base.html' %}
{% block title %}Comments | {{ comment.comment }}  {% endblock %}

{% block content %}

<p>Commenting on:<br>{{ comment.comment_text }}<br>commented on:<br>{{ comment.question.question_text }}</p>

<p>Add comment</p>
<form action="{% url 'polls:add_comment_on_comment' comment.id %}" method="post">
	{% csrf_token %}
	<textarea name="comment" id="comment-area" required></textarea><br>
	<input type="submit" name="submit" value="Comment">
</form>

{% for comment in page_obj %}
	<span>
	<div id="comment">
		<div id="comment-date">
			{{ comment.date_commented|date:"d M Y, H:i" }}
		</div>

		<div id="comment-text">
			{{ comment.comment_text }}
		</div>

		<div id="reaction">
			<a href="{% url 'polls:like_comment_on_comment' comment.id %}">Like: {{ comment.likes }}</a> | 
			<a href="{% url 'polls:dislike_comment_on_comment' comment.id %}">Dislike: {{ comment.dislikes }}</a> 
		</div>
	</div>
	<p></p>
	</span>
{% empty %}
	<p>No comment available</p>
{% endfor %}

<div class="pagination">
	<span class="step-links">
		{% if page_obj.has_previous %}
			<a href="?page={{ page_obj.previous_page_number }}">&laquo; previous</a>
		{% endif %}

		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">next &raquo;</a>
		{% endif %}	
	</span>
</div>


<p>
	<a href="{% url 'polls:index' %}">Home</a> | 
	<a href="{% url 'polls:question_comments' comment.question.id %}">Back</a>
</p>

{% endblock %}