<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>Log in</title>
</head>
<body>
	
	<h1>Log in</h1>
	<form action="{% url 'login1:login' %}" method="post">
		{% csrf_token %}
		{% if error %}
			<p>{{ error }}</p>
		{% endif %}
		<label for='id_username'>Username:</label>
		<input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">

		<br>

		<label for="id_password">Password</label><input type="password" name="password" autocomplete="current-password" required id="id_password">

		<label>&nbsp;</label><input type="submit" value="Log in">
	</form>
</body>
</html>